---
interface Props {
    class?: string;
    title?: string;
    desc?: string;
}

const { class: className = "", title, desc } = Astro.props;
---

<div class={`flex items-center gap-3 ${className}`}>
    <!-- New AHM Logo SVG -->
    <svg
        width="100%"
        height="100%"
        viewBox="0 0 773 154"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xml:space="preserve"
        style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
        class="h-full w-auto fill-current"
    >
        {desc && <desc>{desc}</desc>}
        {title && <title>{title}</title>}
        <g transform="matrix(1,0,0,1,-2624.05,-1833.65)">
            <g transform="matrix(1,0,0,1,0,36.8711)">
                <g transform="matrix(1.09545,0,0,1.09545,-284.955,201.618)">
                    <path
                        d="M3008.04,1590.06L3006.46,1590.58C3005.76,1590.68 3005.05,1590.74 3004.32,1590.74L2999.94,1590.74L2997.48,1590.06L3008.04,1590.06Z"
                    ></path>
                </g>
                <g transform="matrix(1.09545,0,0,1.09545,-284.955,201.618)">
                    <path
                        d="M2987.77,1572.41L2987.77,1579.14C2987.49,1578.09 2987.36,1576.98 2987.36,1575.84C2987.36,1574.66 2987.5,1573.51 2987.77,1572.41Z"
                    ></path>
                </g>
                <g transform="matrix(0.840407,0,0,0.840406,2410.71,1643.82)">
                    <g>
                        <path
                            d="M702.037,364.625C703.503,364.872 705.009,365 706.545,365C708.736,365 710.865,364.739 712.904,364.246C719.879,363.034 726.119,358.972 730.04,352.921C734.769,345.623 735.48,336.426 731.927,328.488C715.331,291.406 688.245,230.883 675.659,202.76C670.925,192.183 660.418,185.375 648.83,185.375L630.545,185.375C629.014,185.375 627.65,186.344 627.146,187.789L604.721,252.092L576.85,187.548C576.28,186.229 574.981,185.375 573.545,185.375L544.243,185.375C542.73,185.375 541.378,186.322 540.86,187.744L522.865,237.216L523.145,188.996C523.15,188.037 522.773,187.116 522.098,186.437C521.422,185.757 520.503,185.375 519.545,185.375L480.545,185.375C478.557,185.375 476.945,186.987 476.945,188.975L476.945,251.4L435.145,251.4L435.145,188.975C435.145,186.987 433.533,185.375 431.545,185.375L389.545,185.375C387.557,185.375 385.945,186.987 385.945,188.975L385.945,235.289L362.786,187.407C362.184,186.165 360.925,185.375 359.545,185.375L342.236,185.375C328.888,185.375 316.933,193.634 312.21,206.119C295.417,250.506 254.088,359.751 254.088,359.751C253.67,360.857 253.821,362.098 254.493,363.071C255.165,364.044 256.273,364.625 257.455,364.625L702.037,364.625ZM717.188,313.181L669.087,205.702C665.513,197.716 657.58,192.575 648.83,192.575L633.102,192.575L608.478,263.185C607.989,264.586 606.691,265.544 605.208,265.598C603.725,265.651 602.362,264.789 601.773,263.427L571.178,192.575L546.765,192.575L522.528,259.206C521.929,260.851 520.233,261.827 518.51,261.518C516.786,261.21 515.535,259.705 515.545,257.954L515.924,192.575L484.145,192.575L484.145,255C484.145,256.988 482.533,258.6 480.545,258.6L431.545,258.6C429.557,258.6 427.945,256.988 427.945,255L427.945,192.575L393.145,192.575L393.145,251C393.145,252.678 391.985,254.134 390.349,254.509C388.713,254.884 387.035,254.078 386.304,252.568L357.287,192.575L342.236,192.575C331.882,192.575 322.608,198.982 318.944,208.666L262.666,357.425L687.802,357.425C682.706,352.504 679.545,345.603 679.545,338C679.545,323.162 691.586,311 706.545,311C710.328,311 713.924,311.778 717.188,313.181ZM723.548,327.39L725.355,331.43C725.722,332.25 726.026,333.088 726.267,333.938C726.546,335.248 726.692,336.606 726.692,338C726.692,347.352 720.095,355.121 711.297,357.214C710.382,357.353 709.45,357.425 708.509,357.425L702.794,357.425C693.501,355.704 686.398,347.705 686.398,338C686.398,327.026 695.482,318.232 706.545,318.232C713.662,318.232 719.96,321.871 723.548,327.39Z"
                        ></path>
                    </g>
                </g>
                <path
                    d="M3025.39,1894.23L2987.84,1811.43C2987.18,1809.98 2986.29,1808.72 2985.24,1807.65L2985.24,1801.81L3025.39,1801.81L3025.39,1894.23Z"
                    style="stroke:black;stroke-width:5.55px;"></path>
                <path
                    d="M3035.24,1915.51L3056.46,1915.51L3097.91,1801.81L3144.2,1801.81L3179.03,1897.72L3179.03,1801.81L3248.27,1801.81C3263.02,1801.81 3274.6,1805.09 3282.99,1811.64C3285.63,1813.7 3287.85,1816.02 3289.66,1818.6C3294.23,1812.54 3300.37,1807.9 3308.09,1804.68C3316.28,1801.27 3325.57,1799.56 3335.95,1799.56C3352.75,1799.56 3366.17,1803.49 3376.2,1811.34C3386.24,1819.19 3391.6,1830.22 3392.28,1844.42L3348.65,1844.42C3348.51,1840.05 3347.18,1836.77 3344.66,1834.59C3342.13,1832.4 3338.89,1831.31 3334.93,1831.31C3331.92,1831.31 3329.46,1832.2 3327.55,1833.98C3325.64,1835.75 3324.68,1838.28 3324.68,1841.55C3324.68,1844.29 3325.74,1846.64 3327.86,1848.62C3329.97,1850.6 3332.6,1852.31 3335.74,1853.74C3338.89,1855.18 3343.53,1856.99 3349.68,1859.17C3358.83,1862.31 3366.37,1865.42 3372.31,1868.49C3378.25,1871.57 3383.37,1875.87 3387.68,1881.4C3391.98,1886.93 3394.13,1893.93 3394.13,1902.4C3394.13,1911 3391.98,1918.72 3387.68,1925.55C3383.37,1932.37 3377.16,1937.77 3369.03,1941.73C3360.91,1945.69 3351.31,1947.67 3340.25,1947.67C3323.45,1947.67 3309.66,1943.67 3298.87,1935.68C3296.35,1933.82 3294.1,1931.77 3292.13,1929.53C3290.46,1931.81 3288.47,1933.9 3286.17,1935.79C3277.7,1942.75 3265.82,1946.24 3250.53,1946.24L3154.24,1946.24L3146.46,1922.68L3095.24,1922.68L3087.46,1946.24L3032.02,1946.24C3032.73,1945.15 3033.37,1944.02 3033.94,1942.85C3037.55,1935.51 3038.47,1925.89 3035.24,1915.51ZM3286.56,1863.22C3287.1,1864.13 3287.69,1865 3288.32,1865.83C3292.62,1871.5 3297.68,1875.8 3303.48,1878.74C3309.28,1881.67 3316.9,1884.71 3326.32,1887.85C3335.2,1890.72 3341.62,1893.31 3345.58,1895.64C3349.54,1897.96 3351.52,1901.24 3351.52,1905.47C3351.52,1908.75 3350.32,1911.31 3347.93,1913.15C3345.54,1915 3342.51,1915.92 3338.82,1915.92C3334.72,1915.92 3331.38,1914.76 3328.78,1912.43C3326.18,1910.11 3324.68,1906.42 3324.27,1901.37L3298.49,1901.37C3297.61,1895.26 3295.25,1889.69 3291.39,1884.68C3286.41,1878.19 3279.68,1873.99 3271.22,1872.08C3277.35,1870.38 3282.46,1867.42 3286.56,1863.22ZM3242.54,1913.87C3252.64,1913.87 3257.7,1909.63 3257.7,1901.17C3257.7,1896.8 3256.36,1893.45 3253.7,1891.13C3251.04,1888.81 3247.25,1887.65 3242.33,1887.65L3219.18,1887.65L3219.18,1913.87L3242.54,1913.87ZM3136.42,1891.95L3120.85,1845.24L3105.49,1891.95L3136.42,1891.95ZM3219.18,1859.17L3239.46,1859.17C3249.57,1859.17 3254.62,1855.01 3254.62,1846.68C3254.62,1838.07 3249.57,1833.77 3239.46,1833.77L3219.18,1833.77L3219.18,1859.17Z"
                    style="stroke:black;stroke-width:5.55px;"></path>
            </g>
        </g>
    </svg>
</div>
